a {
  color: var(--color-heading);
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: var(--color-primary);
}

a:focus {
  outline: none;
}

/* -------------------------------- xclip -------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: middle;
}

.cd-headline.clip .cd-words-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-50%);
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline.clip b.is-visible {
  opacity: 1;
}

/*-------------------------
    Section Title Styles
-------------------------- */

.ab-section-gap {
  padding: 100px 0;
}

@media only screen and (max-width: 991px) {
  .ab-section-gap {
    padding: 80px 0;
  }
}

.section-separator {
  position: relative;
}

.section-separator::after {
  position: absolute;
  max-width: 1270px;
  height: 1px;
  background: #121415;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section-title span.subtitle {
  color: var(--color-main);
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin: 30px 0;
  font-size: 15px;
}

.section-title h2.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-lightn);
  margin-bottom: 0;
}

@media only screen and (max-width: 479px) {
  .section-title span.subtitle {
    letter-spacing: 0.5px;
    font-size: 10px;
  }
  .section-title h2.title{
    font-size: 35px;
    font-weight: 500;
  }
}


/* *********************** */
/*         Header         */
/* ********************* */
body.template-color-1 {
  background-color: var(--color-tertiary);
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: transparent;
  position: relative;
}

.nav-pills .nav-link {
  margin: .5rem 1rem;
  padding: 0;
}

.header-wrapper {
  height: 122px;
  padding: 0 64px;
}

@media only screen and(max-width: 1599px) {
  .header-wrapper {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  .header-wrapper {
    padding: 0 10px;
  }

  .header-left {
    padding: 0 20px;
  }
}

.header-wrapper .header-left {
  flex-basis: 20%;
  justify-content: flex-start;
  display: flex;
}

.header-wrapper .header-center {
  flex-basis: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.ab-header.header--sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.ab-header.header--fixed {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

.ab-header.header--fixed.ab-d-none {
  display: none;
}

.ab-header.header--fixed.sticky {
  display: block;
}

.ab-header.header--fixed.sticky {
  background-color: #212428de;
  box-shadow: var(--shadow-1);
  position: fixed;
  backdrop-filter: blur(15px);
  top: 0;
}

.sticky .header-wrapper {
  height: 90px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sticky .header-wrapper {
    height: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sticky .header-wrapper {
    height: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .sticky .header-wrapper {
    height: 70px;
    padding: 0;
  }
}

.sticky .header-wrapper .logo img {
  max-width: calc(100% - 10%);
}

.liststyle {
  padding: 0;
  list-style: none;
}

.backto-top>div {
  position: fixed;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
  width: 50px;
  height: 50px;
  line-height: 46px;
  border-radius: 50%;
  background-color: #212428;
  text-align: center;
  z-index: 999 !important;
  box-shadow: var(--shadow-1);
}

@media only screen and (max-width: 575px) {
  .backto-top>div {
    bottom: 30px;
  }
}

.backto-top>div:hover::after {
  opacity: 1;
}

.backto-top>div::after {
  content: '';
  position: absolute;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
}

/*---------------------------
    Banner Area Styles 
-----------------------------*/
.slide {
  padding-bottom: 100px;
  position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slide {
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slide {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .slide {
    padding-bottom: 100px;
  }
}

.slide .content {
  margin-top: 150px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slide .content {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slide .content {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .slide .content {
    margin-top: 40px;
  }
}

.slide .content .inner {
  margin-bottom: 142px;
}

@media only screen and (max-width: 1199px) {
  .slide .content .inner {
    margin-bottom: 40px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slide .content .inner {
    margin-bottom: 40px;
  }
}

.slide .content .inner span.subtitle {
  font-size: 14px;
  font-family: var(--font-secondary);
  color: var(--color-lightn);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 479px) {
  .slide .content .inner span.subtitle {
    letter-spacing: 1px;
    font-size: 9px;
  }
}

.slide .content .inner .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 22px;
  font-family: var(--font-secondary);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slide .content .inner .title {
    font-size: 50px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slide .content .inner .title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .slide .content .inner .title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media only screen and (max-width: 479px) {
  .slide .content .inner .title {
    font-size: 32px;
    line-height: 40px;
  }
}

.slide .content .inner .title span {
  color: var(--color-primary);
}

.slide .content .inner .title .header-caption span {
  color: var(--color-white);
  font-weight: 600;
}

.slide .content .inner .title .span {
  font-size: 48px;
  color: var(--color-white);
}

@media only screen and (max-width: 479px) {
  .slide .content .inner .title .span {
    font-size: 24px;
    line-height: 33px;
  }
}

.slide .content .inner p.discs {
  font-size: 18px;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .slide .content .inner p.discs {
    width: 80%;
  }
}

@media only screen and (max-width: 575px) {
  .slide .content .inner p.discs {
    width: 80%;
  }
}

@media only screen and (max-width: 479px) {
  .slide .content .inner p.discs {
    width: 100%;
  }
}

.slide .content .inner .description {
  font-size: 16px;
  line-height: 30px;
  color: var(--color-lightn);
  padding-right: 16%;
  opacity: 0.9;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slide .content .inner .description {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slide .content .inner .description {
    margin-bottom: 40px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .slide .content .inner .description {
    margin-bottom: 40px;
    padding-right: 0;
  }
}

.slide .social-share-inner-left span.title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: var(--color-lightn);
  display: inline-block;
  margin-bottom: 20px;
}

.slide .social-share-inner-left .social-share {
  margin: -10px -12px;
  flex-wrap: wrap;
}

.slide .social-share-inner-left .social-share li {
  margin: 10px 12px;
}

@media only screen and (max-width: 1199px) {
  .slide .social-share-inner-left .social-share {
    margin: -10px -10px;
  }
  .slide .social-share-inner-left .social-share li {
    margin: 10px 10px;
  }
}

.slide .social-share-inner-left .social-share li a {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 6px;
  transition: var(--transition);
  box-shadow: var(--shadow-1);
  position: relative;
}

.slide .social-share-inner-left .social-share li a::before {
  content: '';
  position: absolute;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, var(--color-tertiary), var(--color-icon));
  opacity: 0;
  z-index: -1;
}

.slide .social-share-inner-left .social-share li a svg {
  color: var(--color-lightn);
  transition: var(--transition);
  stroke-width: 2;
  position: relative;
  z-index: 2;
  width: 20px;
}

.slide .social-share-inner-left .social-share li a:hover {
  transform: translateY(-3px);
}

.slide .social-share-inner-left .social-share li a:hover svg {
  color: var(--color-white);
}

.slide .social-share-inner-left .social-share li a:hover::before {
  opacity: 1;
}

.slide .skill-share-inner span.title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: var(--color-lightn);
  display: inline-block;
  margin-bottom: 20px;
}

.slide .skill-share-inner .skill-share {
  flex-wrap: wrap;
  margin: -10px -12px;
}

.slide .skill-share-inner .skill-share li {
  margin: 10px 12px;
  line-height: 55px;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 6px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
}

.slide .skill-share-inner .skill-share li img {
  max-height: 23px;
  width: auto;
}

.slide .thumbnail {
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .slide .thumbnail {
    display: flex;
    justify-content: center;
  }
}

.slide .thumbnail::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 130px);
  content: "";
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  border-radius: 6px;
}

.slide .thumbnail .inner {
  text-align: center;
}

.slide .thumbnail .inner img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.slide .thumbnail.box-gradient::before {
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateX(-50%);
  background: linear-gradient(to right, #6a67ce, #fc636b) !important;
}

.slide .thumbnail.box-gradient .inner {
  padding: 15px;
}

.slide .thumbnail.box-gradient .inner img {
  border-radius: 6px;
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 48px;
  }
}

@media only screen and (max-width: 768px) {
  .cd-headline {
    font-size: 40px;
  }
}

@media only screen and (max-width: 479px) {
  .cd-headline {
    font-size: 25px;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

/*--------------------------
    Navigation Styles  
----------------------------*/
.mainmenu-nav .primary-menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: -24px;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .mainmenu-nav .primary-menu {
    display: block;
    margin-top: 95px;
    margin-left: 30px;
  }
}

.mainmenu-nav .primary-menu li {
  margin: 10px 14px;
  transition: 0.3s;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .mainmenu-nav .primary-menu li {
    margin: 10px 5px;
  }
}

.mainmenu-nav .primary-menu li:hover a {
  opacity: 1 !important;
  color: var(--color-white);
}

.mainmenu-nav .primary-menu li a {
  color: var(--color-lightn);
  position: relative;
  transition: var(--transition);
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--font-secondary);
}

.mainmenu-nav .primary-menu li a.active {
  opacity: 1 !important;
  color: var(--color-white);
}

.mainmenu-nav .primary-menu:hover li a {
  opacity: 0.5;
}

/*---------------------------
    About Styles 
-----------------------------*/
.contact-about-area {
  padding: 30px;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  background-color: #212428;
  height: 100%;
}

.contact-about-area .thumbnail {
  margin-bottom: 28px;
  overflow: hidden;
  border-radius: 10px;
}

.contact-about-area .thumbnail img {
  width: 100%;
  height: auto;
  transition: var(--transition);
}

.contact-about-area .title-area {
  margin-bottom: 15px;
}

.contact-about-area .title-area h4.title {
  font-size: 29px;
  line-height: 44px;
  color: var(--color-light);
  margin-bottom: 9px;
}
.contact-about-area .title-area span {
  font-size: 15px;}

@media only screen and (max-width: 479px) {
  .contact-about-area .title-area h4.title {
    font-size: 20px;
  }
}

.contact-about-area .description {
  margin-bottom: 39px;
}

.contact-about-area .description p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-body);
  font-family: var(--font-primary);
  line-height: 30px;
  display: inline-block;
  margin-bottom: 20px;
}

.contact-about-area .description span {
  display: block;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .contact-about-area .description span {
    font-size: 16px;
  }
}

.contact-about-area .description span a {
  transition: var(--transition);
  position: relative;
  color: var(--color-lightn);
  font-weight: 400;
}

.contact-about-area .description span a::before {
  content: '';
  position: absolute;
  width: 0%;
  background-color: var(--color-primary);
  height: 1px;
  left: 0;
  bottom: 2px;
  transition: var(--transition);
  z-index: 10;
}

.contact-about-area .description span a:hover {
  color: var(--color-primary);
}

.contact-about-area .description span a:hover::before {
  width: 100%;
}

.contact-about-area .social-area .name {
  font-size: 14px;
  font-family: var(--font-secondary);
  font-weight: 500;
  color: var(--color-body);
  margin-bottom: 8px;
}

.contact-about-area .social-area .social-icone {
  margin-top: 24px;
}

.contact-about-area .social-area .social-icone a {
  width: 61px;
  height: 61px;
  line-height: 57px;
  margin-right: 15px;
  box-shadow: var(--shadow-1);
  border-radius: 6px;
  transition: var(--transition);
  display: inline-block;
  text-align: center;
}

.contact-about-area .social-area .social-icone a::before {
  content: '';
  position: absolute;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, #212428, #16181c);
  opacity: 0;
  z-index: -1;
}

.contact-about-area .social-area .social-icone a svg {
  stroke-width: 2;
  width: 20px;
  color: var(--color-lightn);
  transition: var(--transition);
}

.contact-about-area .social-area .social-icone a:hover {
  transform: translateY(-5px);
}

.contact-about-area .social-area .social-icone a:hover svg {
  color: var(--color-white);
}

.contact-about-area .social-area .social-icone a:hover::before {
  opacity: 1;
}

.contact-about-area:hover .thumbnail img {
  transform: scale(1.1);
}

/* -------------------------------- 
    Skill Section Animation
-------------------------------- */


.skill-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 100px;
  overflow: hidden;
}

.skill-box {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.skill-box::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 100%;
  background: var(--color-tertiary);
  filter: blur(1px);
  z-index: 1;
}

.skill-box .skill-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f6d5a0, #3f2e22);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 20px rgba(0,0,0,0.1),
    50px 50px 50px rgba(0,0,0,0.1),
    inset 3px 3px 2px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-box .skill-content .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

/* Area covered by that progress circle */

.skill-box .skill-content .percent::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-box .skill-content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.skill-box .skill-content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: rgba(237, 9, 9, 0.05);
  transform: translate(5px, 5px);
}
/* Progress Cirlce CSS */
.skill-box .skill-content .percent svg circle:nth-child(2) {
  stroke: #ff7b00;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill-box .skill-content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

/* Progress Dot Css */

.skill-box .skill-content .percent .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: var(--color-main);
  border-radius: 50%;
}

.skill-box .skill-content .skill-icon {
  position: absolute;
  inset: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.skill-box .skill-content .skill-icon img {
  width: 50px;
  height: 50px;
}

.skill-box .skill-content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.skill-box .skill-content .number h2 {
  font-size: 2.5rem;
  color: var(--color-primary);
}

.skill-box .skill-content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}




/* -------------------------------- 
    Project Section Animation
-------------------------------- */

.project-card-section {
  align-items: center;
  height: 100vh;
  margin: 10px;
}

.project-card {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 10px 0;
  transition: ease all 2.3s;
  perspective: 1200px;
}
.project-card:hover .project-cover {
  transform: rotateX(0deg) rotateY(-180deg);
}
.project-card:hover .project-cover:before {
  transform: translateZ(30px);
}
.project-card:hover .project-cover:after {
  background-color: var(--background-color-2);
}
.project-card:hover .project-cover h1 {
  transform: translateZ(100px);
}
.project-card:hover .project-cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}
.project-card:hover .project-cover .project-description{
  transform: translateZ(-60px) rotatey(-180deg);
}
.project-card .project-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.project-card .project-cover:before {
  content: "";
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}
.project-card .project-cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}
.project-card .project-cover.item-a {
  background-image: url("https://picsum.photos/200");
}
.project-card .project-cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 3em;
  transform: translateZ(0px);
}
.project-card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--shadow-1);
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.project-card .card-back .project-description {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: white;
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
}

.project-card .card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  padding: 5px 15px;
  outline: none;
  text-decoration: none;
  margin: 5px 0;
}
.project-card .card-back a:hover {
  background-color: white;
  color: #0b0f08;
}
